html {
  height: 100%;
  width: 100%;
  background-color: #FE139B
}

body{    
  font-family: sans-serif
}

a{
  color rgb ( 81, 255, 0)
}

a hover{
  color rgb ( 0, 255, 0)
}


Header, #aboutme {
    margin-bottom: 20px;
    padding: 20px;
    border-bottom: 2px solid rgb(8, 252, 0);
  }
}
header h1{
  font-size: 2em;
}

header nav ul li (
  display: inline;
)

.clear{
  clear: both;
}
#project-container {
    margin: 0 auto; /* centers projects div*/
    width: 90%; /*adds space on either side*/
    max-width: 600 px; /* keeps div from getting too wide*/
}
  
.project {
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(8, 252, 0);
}

.project img, #aboutme img {
    width: 250px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }

.project h2, #aboutme h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}